POLYGON_RPC_URL=
AMOY_RPC_URL=
DEPLOYER_PRIVATE_KEY=
POLYGONSCAN_API_KEY=
PINATA_JWT=
GRAPH_STUDIO_DEPLOY_KEY=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_SUBGRAPH_URL=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_GYM_MEMBERSHIP_ADDRESS=
NEXT_PUBLIC_MARKET_ADDRESS=
DATABASE_URL=
COINGECKO_API_KEY=
WEBHOOK_HMAC_SECRET=
