POLYGON_RPC_URL=
AMOY_RPC_URL=
ANVIL_RPC_URL=http://localhost:8545
DEPLOYER_PRIVATE_KEY=
PROTOCOL_TREASURY=
POLYGONSCAN_API_KEY=
PINATA_JWT=
GRAPH_STUDIO_DEPLOY_KEY=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_SUBGRAPH_URL=https://api.studio.thegraph.com/query/1749319/flexpass/v0.1.0
NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_GYM_MEMBERSHIP_ADDRESS=0x465CF3a5918534d94BA62F3A7980f5ffB0277168
NEXT_PUBLIC_MARKET_ADDRESS=0x0e9a4999ABcccE5B1A6989B34Ed549C2Dd72bfC0
NEXT_PUBLIC_GYM_REGISTRY_ADDRESS=0xaE12edE4Eab2655b9B1618628c678819693881eA
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/flexpass
DATABASE_URL_DOCKER=postgresql://postgres:postgres@postgres:5432/flexpass
COINGECKO_API_KEY=
WEBHOOK_HMAC_SECRET=
